* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto';
}

body {
  background-color: var(--bg-color);
}

.pomodoro-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media all and (min-width: 600px) {
    aspect-ratio: 9 / 16;
    max-height: 600px;
    border-radius: 10vh;
    width: unset;
    box-shadow: 8px 8px 24px 0px rgb(0, 0, 0);
  }

  height: 100vh;
  width: 100%;
  min-height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(34, 34, 34);

  &__goal-button {
    background-color: transparent;
    border: transparent;

    margin-left: 0.5rem;
    padding: 5px;
  }
}