.timer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__clock {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 2px solid white;
    }

    &__time {
        font-size: 5rem;
    }
}